<form id="regForm">
   
    <div class="form-group">
      <label for="username">Your unique and identifying nick name</label>
      <input class="form-control" placeholder="Enter username"type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="name">Your irl name</label>
      <input class="form-control" placeholder="Enter your name" type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="surname">Your irl surname</label>
      <input class ="form-control" placeholder="Enter your surname" type="text" id="surname" name="surname" required>
    </div>
    <div>
      <label for="password">A complex password, not easily crackable (don't use "password")</label>
      <input class="form-control" placeholder="Enter password" type="password" id="password" name="password" required>
    </div>
    <br>
    <button  class="btn nolonoloYellowBackground" (click)="Register()">Register</button>
  </form>
  
