<form id="company-form">
    <h3>Create a company</h3>
    <div>
        <label>
            Company name
        </label>
        <input name= "name"type="text" placeholder="Company's name"/>
    </div>
  <div>
    <label>
        Company Code
    </label> 
    <input name="password" type="password" placeholder="Company's code"/>
  </div>
 <button (click)="Create()">Create</button>  
</form>

<br>
<hr>
<br>
<h3> Add in your companies</h3>

<form id="add-company">
    <div>
        <label>Company's name</label>
        <input name ="name" type="text" placeholder="Company's name"/>
    </div>
    <div>
        <label>Company's code</label>
        <input name ="password" type="text" placeholder="Company's code"/>
    </div>
    
    <button (click)="Add()">Add</button>
</form>

