
.leftsidebar{
    width:15%;
    float:left;
 
}
.maincontent{
    width:85%;
    float:right;
}

.border-right {
    border-right: 1px solid black;
}
.component-logreg{
    justify-content: center; 
    display: flex;
}














