<!-- <div id="div_logreg" style="display:none">




<nav class="navbar nolonoloBackgroundNav" width="100%">
  <div>
    <div style="justify-content: left;display: flex;">
      <img src="assets/images/logo.png" width="45" height="45" alt="">
    </div>
  </div>
</nav>


<div id="welcomemanager" style="justify-content: center;display: flex; text-align:  center;">
  <h3> Welcome Manager!</h3>
</div>



<div class="row">


  <div class="col-sm border-right">
    <app-register class="component-logreg"></app-register>
  </div>


  <div class="col-sm">
    <app-login class="component-logreg"></app-login>
  </div>
</div>


</div> 


<div id="div_dash" style="display:none"> -->

<!-- 
  <div>
    <button style="float:right" class="btn btn primary" (click)="Logout()">Logout</button>
    <div class ="row no-gutters">
      <app-sidebar class ="leftsidebar"></app-sidebar>
      <app-dashboard-container class ="maincontent"></app-dashboard-container>
    </div> 
     
  </div> -->

<!-- </div> -->



<div class = "wrapper">
  <div class = "sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class ="main_content">
    <app-dashboard-container></app-dashboard-container>
  </div>
</div>


