.leftsidebar{
    width:20%;
    height:auto;
    float:left;
}
.maincontent{
    width:80%;
    float:right;
}

.border-right {
    border-right: 1px solid black;
}
.component-logreg{
    justify-content: center; 
    display: flex;
}