<div class="login_container" style="display: inline-block;">
  <div>
    <h5>LOGIN</h5>
  </div>
  <div>
    <form id="logForm">
      <div class="form-group">
        <label for="username">Your unique and identifying nick name</label>
        <input type="text" class="form-control w-75" placeholder="Enter username" id="username_log" name="username"
          required>
      </div>
      <div>
        <label for="password">A complex password, not easily crackable (don't use "password")</label>
        <input type="password" class="form-control w-75 " placeholder="Enter password" id="password_log" name="password"
          required>
      </div>
      <br>
      <button class="btn nolonoloYellowBackground" (click)="Login()">Login</button>
    </form>
  </div>
</div>