
 <div id ="loading_cat"
 style="width: 25%; height: 25%;  margin-top: 20vh; margin-left: 50vh;">
 <img src="../clientUtil/loadingCat.gif" alt="">
</div>

<div class ="hideshowstats">
  <div width="500" height="500">
    <h5>Prospects of rental by Revenues</h5>
      <canvas width="750" height="350" id="canvas_fatturato">{{chart}}</canvas>
    </div>
  
  
    <div width="500" height="500">
      <h5>Prospects of rental by period of time</h5>
      <canvas width="750" height="350" id="canvas_data">{{chart1}}</canvas>
    </div>
  
</div>

