<!-- 
<div class="sidebar_content">
    <button class="btn btn_sidebar nolonoloYellowBackground"(click)="showAccount()">
       
        <span style="display:flex" class="span_account">
            <mat-icon >account_circle</mat-icon>
            Account
        </span>
    </button>
    <button class="btn btn_sidebar nolonoloYellowBackground"(click)="showEmployees()">
        Employees
    </button>
    <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showCustomers()">
        Customers
    </button>
    <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showInventory()">
        Inventory
    </button>
    <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showRentals()">
        Rentals
    </button>
    <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="goToBakOffice()">
        Go to backOffice
    </button>
</div> -->

<!-- <div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark" style="width: 250px;"> 
    <div class ="logo">
        <app-logo></app-logo>
    </div>
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
       
        <li>  <button class="btn btn_sidebar nolonoloYellowBackground"(click)="showAccount()">
       
            <span style="display:flex" class="span_account">
                <mat-icon >account_circle</mat-icon>
                Account
            </span>
        </button> </li>
        <li> <button class="btn btn_sidebar nolonoloYellowBackground"(click)="showEmployees()">
            Employees
        </button> </li>
        <li>  <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showCustomers()">
            Customers
        </button></li>
        <li>   <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showInventory()">
            Inventory
        </button> </li>
        <li>   <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showRentals()">
            Rentals
        </button> </li>
        <li>   <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="goToBakOffice()">
            Go to backOffice
        </button> </li>

    </ul>
    <hr>
    <div class="dropdown"> <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> <strong> John W </strong> </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
  </div> -->


  <div id="sidebar-wrapper" class="nolonoloBackgroundNav">
    <div class ="logo">
        <app-logo></app-logo>
    </div>
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
       
        <div class="middlebtn">  <button  class="btn btn_sidebar nolonoloYellowBackground"(click)="showAccount()">
       
            <span style="display:flex" class="span_account">
                <mat-icon >account_circle</mat-icon>
                Account
            </span>
        </button> </div>
        <div class="middlebtn"> <button class="btn btn_sidebar nolonoloYellowBackground"(click)="showEmployees()">
            Employees
        </button> </div>
        <div class="middlebtn">  <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showCustomers()">
            Customers
        </button></div>
        <div class="middlebtn">   <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showInventory()">
            Inventory
        </button> </div>
        <div class="middlebtn">   <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showRentals()">
            Rentals
        </button> </div>
        <div class="middlebtn">   <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="goToBakOffice()">
            Go to backOffice
        </button> </div>

    </ul>
    <hr>
   
</div>