<div class ="logo">
    <app-logo></app-logo>
</div>
<div class="sidebar_content">
    <button class="btn btn_sidebar nolonoloYellowBackground"(click)="showAccount()">
       
        <span style="display:flex" class="span_account">
            <mat-icon >account_circle</mat-icon>
            Account
        </span>
    </button>
    <button class="btn btn_sidebar nolonoloYellowBackground"(click)="showEmployees()">
        Employees
    </button>
    <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showCustomers()">
        Customers
    </button>
    <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showInventory()">
        Inventory
    </button>
    <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showRentals()">
        Rentals
    </button>
    <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="goToBakOffice()">
        Go to backOffice
    </button>
</div>
