
  <div  class="nolonoloBackgroundNavSecond sidebar">
    <div class ="logo">
        <app-logo></app-logo>
    </div>
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
       
        <div class="middlebtn">  <button  class="btn btn_sidebar nolonoloYellowBackground"(click)="showAccount()">
            Companies
        </button> </div>
        <div class="middlebtn"> <button class="btn btn_sidebar nolonoloYellowBackground"(click)="showEmployees()">
            Employees
        </button> </div>
        <div class="middlebtn">  <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showCustomers()">
            Customers
        </button></div>
        <div class="middlebtn">   <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showInventory()">
            Inventory
        </button> </div>
        <div class="middlebtn">   <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="showRentals()">
            Rentals
        </button> </div>
        <hr style="background-color: white; opacity: 0.4">
        <div class="middlebtn">   <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="goToBakOffice()">
            Backoffice
        </button> </div>
        <div class="middlebtn">   <button class ="btn btn_sidebar nolonoloYellowBackground" (click)="Logout()">
           Logout
        </button> </div>

    </ul>
    <hr>
   
</div>