<div class="statistics_container d-flex justify-content-end">
  <button (click)="showStatistics()" class="btn nolonoloYellowBackground">Show Statistics</button>
</div>
<div class="show_statistics" *ngIf="showstatistics">
  <app-inventory-statistics [rentalsdata]="getRentals()" [listingdata]="getListing()"></app-inventory-statistics>
</div>

<!---Showing the products-->
<div class="row">
  <div *ngFor="let prod of products; let i = index"  style="display:inline-block" class="cardsize">
   
    <div class="card">
      <p>{{i}}</p>
      <img class="resize_img" [src]=prod.img />
      <div class="card-body">
        <h5 class="card-title">{{prod.name}}</h5>
        <p class="card-text">{{prod.category}}</p>
        <p>Number of rentals: {{prod.numberRentals}}</p>
        <button class="btn btn-primary">Go somewhere</button>
      </div>
    </div>
  </div>

</div>